<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <h1>В данном разделе, представлены мотоциклы фирмы HONDA</h1>
    <h2>Далее по списку:</h2>
    <ol>
        <li><h3>HONDA CBR650F</h3></li>
        <li><h3>HONDA CBR900RR</h3></li>
        <li><h3>HONDA POLICE</h3></li>
    </ol>
    <img src="/static/images/HONDA CBR650F.png" alt="" width="400" height="400">
    <img src="/static/images/HONDA CBR900RR.png" alt="" width="400" height="400">
    <img src="/static/images/HONDA POLICE.png" alt="" width="400" height="400">
    <a href="/teo"><h1>Вернутся на главную страницу</h1></a>
</header>
<main>

</main>
<footer>

</footer>
</body>
</html>