{% extends 'index.html' %}
{% block head %}
<title>Motorcycles</title>
<!--<link rel="stylesheet" href="static/css/style.css">-->
 {% endblock %}

{% block content %}
    <h1 class="kawas"> В данном разделе, представлены мотоциклы фирмы KAWASAKI </h1>

        <ol>
            <li><h4>Kawasaki Ninja</h4></li>
            <li><h4>Kawasaki Ninja2020</h4></li>
            <li><h4>Kawasaki NinjaZX6R</h4></li>

        </ol>

        <img src="/static/images/kawasaki Ninja.png" alt="kawasaki" width="350" height="350">
        <img src="/static/images/KawasakiNinja2020.png" alt="" width="350" height="350">
        <img src="/static/images/KawasakiNinjaZX6R-001.png" width="350" height="350">
<p>Учебный образец!</p>

        <a href="http://youtube.com">перейти на Ютуб</a>

   <table>
        <tr>
            <th>Наименование</th>
            <th>Описание(техн.данные)</th>
            <th>Цена</th>
            <th>Ссылка на производителя</th>
        </tr>
        <tr>
            <td>Kawasaki</td>
            <td>1200r</td>
            <td>3000$</td>
            <td><a href="https://bikeswiki.ru/Honda_CBR650F">HONDA CBR650F</a></td>
        </tr>
        <tr>
            <td>Kawasaki2</td>
            <td>2200r</td>
            <td>4000$</td>
            <td><a href="https://bikeswiki.ru/Honda_CBR900RR_Fireblade">HONDA CBR900RR</a></td>
        </tr>
        <tr>
            <td>Kawasaki3</td>
            <td>3200r</td>
            <td>5000$</td>
            <td><a href="https://hondapolice.com">HONDA POLICE</a></td>
        </tr>

    </table>

<div class="box box1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Consequuntur dolores excepturi fugiat harum iusto maxime nemo omnis optio.</div>
<div class="box box2"></div>


{% endblock %}
