<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRACTICE</title>
    <link rel="stylesheet" href="/static/css/stylep2.css">
</head>

<header>

<div class="menu">
    <div class="container">
        <div class="menu__inner">
        <div class="logo">
            <img src="/static/images/logo.png" alt="">
        </div>
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">How it work</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
    </div>
</div>

</header>

<body>

    <main>

    </main>

<footer>

</footer>

</body>

</html>
