{% extends 'index.html' %}
{% block head %}
<title>Document</title>
 {% endblock %}

{% block content %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, ab.

        <img src="img/TEO 2022-11-27.jpg" alt="">
        Teona

        <img src="img/TEO1 2022-11-27.jpg" alt="">
        Teona 1

        <script src="js/lib.js">script</script>
        <script src="js/scripts/main.js"></script>

        <ol>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ol>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
        <a href="http://youtube.com">перейти на Ютуб</a>
        <a href="main.html">press link main</a>

{% endblock %}